{{>ezenweb/header}}
<link rel="stylesheet" href="/css/board.css" type="text/css">
    <div class="container">
        <h3>게시판</h3>

        <div class="totalWrap">
            전체 페이지 수 :
            <span class="totalPage"></span>
            전체 게시물 수
            <span class="totalBoardSize"></span>
            <select class="pageBoardSize" onchange="onPageBoardSize(this)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>

        <div class="flexWrap">
            <div class="btnWrap categoryWrap">
                <button type="button" onclick="onBcno(this,0)" class="bcBtn active">전체보기</button>
                <button type="button" onclick="onBcno(this,1)" class="bcBtn">자유</button>
                <button type="button" onclick="onBcno(this,2)" class="bcBtn">노하우</button>
            </div>

            <div> <!-- 검색창 -->
                <select class="searchKey">
                    <option value="b.btitle">제목</option>
                    <option value="b.bcontent">내용</option>
                    <option value="m.id">작성자</option>
                </select>
                <input class="searchKeyword" type="text"/>
                <button type="button" class="btn" onclick="onSearch()">검색</button>
            </div>
        </div>

        <div class="tableWrap">
            <table id="boardTable" class="table table-striped table-hover">
                <colgroup>
                    <col style="width:5%" />
                    <col style="width:60%" />
                    <col style="width:15%" />
                    <col style="width:15%" />
                    <col style="width:5%" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">no</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td><img src="/img/upload/board/default.jpg" style="width:20px;border-radius:50%" /> Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

            </ul>
        </nav>
        <div class="writeBtnWrap">
            <a href="/board/write" class="btn">글쓰기</a>
        </div>

        <script src="/js/board/board.js"></script>
    </div>
{{>ezenweb/footer}}