{{>ezenweb/header}}
    <div class="container">
        <h3>게시판</h3>

        <div class="viewWrap">
            <div class="viewHead">
                <h4 class="bcno"></h4>
                <h3 class="btitle"></h3>
                <div class="viewInfo">
                    <p class="mno">작성자 : <span></span></p>
                    <p class="bdate">작성일 : <span></span></p>
                    <p class="bview">조회수 : <span></span></p>
                </div>
            </div>
        </div>


        <div class="bcontent"></div>

        <a href="/board/">목록보기</a>
    </div>
<script src="/js/board/view.js"></script>
{{>ezenweb/footer}}