{{>ezenweb/header}}
<link rel="stylesheet" href="/css/board.css" type="text/css">
    <div class="container">
        <h3>게시판</h3>

        <div class="viewWrap">
            <div class="viewHead">
                <h4 class="bcno"></h4>
                <h3 class="btitle"></h3>
                <div class="viewInfo">
                    <p class="mno">작성자 : <span></span></p>
                    <p class="bdate">작성일 : <span></span></p>
                    <p class="bview">조회수 : <span></span></p>
                </div>
            </div>

            <div class="bcontent"></div>

            <div class="bfile"></div>

            <div class="replyBox">
                <div>
                    <textarea class="brcontent brcontent0"></textarea>
                    <button onclick="onReplyWrite(0)" type="button">댓글작성</button>
                </div>
            </div>
            <div class="replyListBox">

            </div>
        </div>



        <div class="writeBtnWrap">
        </div>
    </div>
<script src="/js/board/view.js"></script>
{{>ezenweb/footer}}