{{>layouts/header}}  <!-- 헤더 파일 호출 -->

<form action="/articles/update" method="post">
    <input name="id" value="{{article.id}}" type="hidden" />
    <label>제목</label><input name="title" value="{{article.title}}" /> <br/>
    <label>내용</label><textarea name="content" >{{article.content}}</textarea><br/>
    <button type="submit">전송</button>
</form>
<a href="/articles/{{article.id}}">뒤로가기</a>
{{>layouts/footer}}  <!-- 푸터 파일 호출 -->